*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;}

.container{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #f8f4e7;
    background-color: #f9f9f8;
    margin-top: 10px;}

header p{
    text-align: right;
    font-size: 14px;}

hr{
    border: 1px solid #000;}

.line{
    margin-top: 10px;
    border: 10px solid green;}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 5px;
    font-size: 80px;
    margin-bottom: 2px;}

.border ul{
    display: flex;
    border: 2px solid green;
    list-style-type: none;
    justify-content: space-between;
    padding: 3px;}

.border ul li{
    color: rgb(9, 93, 9);
    font-family: Arial, Helvetica, sans-serif;}

.border ul li a{
    text-decoration: none;
   font-size: 14px;
   color: rgb(9, 93, 9);}

.cap{ 
    font-weight: bold;
    font-size: 18px;}

h2{
    text-align: center;
    font-size: 23px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;}

.First-sentence{
    font-weight: bold;
    font-style: italic;}

.column{
    flex: 50%;
    column-count:2;
    padding: 20px;}

.content{ 
    display: flex;}

footer{
    border-top: 1px solid #000;}

footer ul{
    display: flex;
    justify-content: space-between; 
    list-style-type: none;}

footer ul li a {
    text-decoration: none; 
    color: black;}

.first-alphabet {
    padding: 3px;
    font-size: 30px; 
    font-weight: bold;}

.container-2{
    margin: auto;
    padding: 10px;
    background-color:rgb(24, 86, 30);
    border-radius: 8px;
}

.more ul{
    display: inline;
    list-style-type: none;}

.more ul li{
    text-align: center; 
    font-weight: bold;
    font-size: 18px;}

.box{
    border-radius: 3px;
    background-color: rgb(191, 226, 191);
    margin: 5px;
    padding: 5px;}

.more ul li a{
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    margin:20px;}

.more ul li a:hover{
    color: rgb(61, 126, 61);}

.Box{
    padding: 10px;
    border-radius: 9px;
    background-color: rgb(179, 232, 216);
    text-align: center;
    margin: 5px;
}
.Box a{
    text-decoration: none;}

.Box a:hover{
    color: green;}

button{
    margin: 10px;
    padding: 10px;
    background-color: rgb(23, 23, 23);
    border-radius: 10px;}

button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;}

button a:hover{color:green;}

.f-sentence{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.navigation{ 
    display: flex;
    justify-content: right;}

.nav-button{
padding: 4px;
margin: 10px;}

.navigation a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
    font-size: 20px;
}
.navigation a:hover{
    text-decoration: underline;
    color: green;
}

/* Mobile Phones */
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 18px;
  }

  .border ul {
    flex-direction: column;
    align-items: center;
  }

  .border ul li {
    margin: 5px 0;
  }

  .column {
    column-count: 1;
    padding: 10px;
  }

  .content {
    flex-direction: column;
  }

  footer ul {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .navigation {
    flex-direction: row;
    align-items: flex-end;
  }

  .nav-button {
    margin: 5px;
  }
  iframe{
    width: 100%;
  }
  img{width: 100%;

  }
}

/* Tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 20px;
  }

  .border ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .border ul li {
    margin: 5px;
  }

  .column {
    column-count: 1;
  }

  .content {
    flex-direction: column;
  }

  footer ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}


